vim/.vim_tmp/*
vim/.vim/plugged
vim/.vim/.netrwhist
vim/.vim/spell
shell/.tmux/plugins
shell/.config/base16-shell
shell/.config/alacritty/colors.toml
bin/tsc

# Dentro de .config/opencode/
opencode/.config/opencode/node_modules/
opencode/.config/opencode/bun.lock
opencode/.config/opencode/bun.lockb
# Opcional: Si usas auth en ficheros locales que no quieres subir
opencode/.config/opencode/auth.json
