vim/.vim_tmp/*
vim/.vim/plugged
vim/.vim/.netrwhist
vim/.vim/spell
shell/.tmux/plugins
shell/.config/base16-shell
shell/.config/alacritty/colors.toml
bin/tsc

ai/.config/opencode/node_modules/
ai/.config/opencode/bun.lock
ai/.config/opencode/bun.lockb
ai/.config/opencode/auth.json

bin/.local/bin/voxtype
