#!/bin/sh

# Load resources for uxrtv
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
# Load xmodmap to change keys
[[ -f ~/.Xmodmap ]] && xmodmap ~/.Xmodmap

start-pulseaudio-x11 &

xautolock -time 5 -locker 'locker' &

feh --bg-scale ~/images/wallpaper.jpg &
