! Cursor theme
! Xcursor.theme: CG

! Colors - also see scripts/xcolor for switching
#include "/home/alex/.xcolors/solarized.xcolors"

! Fonts
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintfull
!Xft.dpi:        220

! urxvt.font:  xft:Source Code Pro:size=8
! urxvt.font:  xft:DejaVuSansMono:size=26
! urxvt.font:  xft:DejaVuSansMono:size=10
! urxvt.font:  xft:DejaVuSansMono:size=8
! urxvt.font:  xft:Terminus:size=8,xft:Inconsolata\ for\ Powerline:pixelsize=12
urxvt.font:  xft:DejaVuSansMono:size=8,xft:Inconsolata\ for\ Powerline:pixelsize=12

URxvt.scrollBar:  false
URxvt.jumpScroll: true
URxvt.skipScroll: true
URxvt.saveLines:  64000
URxvt.visualBell: false

URxvt.depth:       24
URxvt.buffered:    true
!URxvt.foreground:  #f0f0f0
!URxvt.background:  #000000
URxvt.transparent: false
URxvt.shading:     100

URxvt.intensityStyles: true
URxvt.termName:        rxvt-unicode-256color
URxvt.urgentOnBell:    true

URxvt*cursorBlink:     true

! perl shit
URxvt.perl-ext-common: default,keyboard-select,url-select,clipboard,osc-xterm-clipboard,resize-font
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:      perl:url-select:select_next
URxvt.keysym.M-p:      perl:clipboard:paste
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search


! Enable to use control tab
URxvt.keysym.Control-Tab: \033}\033[27;5;9~
URxvt.keysym.Control-ISO_Left_Tab: \033[27;6;9~
URxvt.keysym.Control-Shift-ISO_Left_Tab: \033[27;6;9~

! disable ctrl-shift default behaviour
URxvt*iso14755: False
URxvt*iso14755_52: False

! resize font
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
